# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build
dist/
build/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
package-lock.json

# Wrangler local state
.wrangler/
